@charset "UTF-8";


body, html {
 background-color:  #e2ddfd;
}

main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    padding-bottom: 20px;
    margin: auto;
    border-radius: 20px;
    max-width: 1000px;
    background-color: white;
}

main h1, h2 {
    margin-left: 22px;
}

main p {
    padding-left: 10px;
}

footer {
    margin-top: 0px;
}

header p {
    text-align: center;
    font-size: 1.4em;
    font-family: var(--font-estilo);
    margin-bottom: 40px;
}



header h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4em;
    text-shadow: 2px 2px 3px 2px black;
    margin-bottom: 10px;
}

header {
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: blue;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}