@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


:root {
    --cor1: #9381FF;
    --cor2: #B8B8FF;
    --cor3: #BFD7EA;
    --cor4: #16324F;
    --cor5: #0E9CE3;

    --font-padrao: arial, helvetica, sans-serif;
    --font-nav: 'Nunito Sans', helvetica;
    --font-h1: 'Times New Roman', Times, serif;
}

header nav > a{
    padding: 10px;
    margin: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

header a:hover {
    transition: 1s;
    background-color: #E5B901;
    border-radius: 20%;
}

header nav {
    margin-top: 40px;
    text-align: center;
    font-family: var(--font-nav);
}

header h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.4em;
    text-shadow: 2px 2px 3px 2px black;
}

header {
    padding-top: 40px;
    padding-bottom: 10px;
    background-image: linear-gradient( to bottom, var(--cor4), var(--cor5));
}

main .conteudo{
  background-image: linear-gradient(to right, var(--cor2), white);
  font-family: var(--font-h1);
}

main {
    max-width: 2560px;
    min-width: 320px;
   
}

main p {
    margin-top: 10px;
    line-height: 1.6em;
    text-indent: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main a.externo {
    background-color: var(--cor1);
    color: black;
    padding: 6px 2px;
    text-decoration: none;
    margin-left: 2px;
    border-radius: 10px;
}

 a.externo::after {
    content: '\1F517';
 }

 h1.div { 
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
 }

 main div img {
    margin-top: 20px;
    width: 50px;
    border-radius: 50%;
 }

 section div {
    background-color: var(--cor3);
    width: 500px;
    margin-left: 763px;
    padding-left: 20px;
 }

 section .div-music {
    color: black;
    text-decoration: none;
 }

 section a.div-music:hover {
    color: blue;
    text-decoration: underline;
    font-weight: bolder;
 }

 article div a{
    border: 1px solid black;
 }